@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&family=Rubik+Mono+One&display=swap"); */
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #6b8fa3;
  color: #ffb775;
  font-family: "Press Start 2P", sans-serif;
  border-radius: 5px;
  line-height: inherit;
  position: relative;
  min-height: 90vh;
}

h1,
h2 {
  text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

p,
li {
  font-family: "Space Mono", monospace;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  color: #ffb775;
}

pre {
  font-family: "Space Mono", monospace;
  font-size: 0.8rem;
  line-height: 1.5;
  background-color: #61859a;
  border-radius: 5px;
  padding: 20px;
  overflow-x: auto;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  display: block;
  border-left: 4px solid #ffb775;
  padding-left: 20px;
  margin: 20px 0;
  background-color: #61859a;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

td,
th {
  border: 4px solid #ffb775;
  text-align: left;
  padding: 8px;
  font-size: 0.7rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 0 1em;
  text-wrap: pretty;
  box-sizing: border-box;
}

.loading {
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.error {
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: red;
}

@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6b8fa3;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section {
    width: 100%;
    padding: 0 1em;
    margin: 20px auto;
  }
}

.btn {
  padding: 10px 20px;
  margin: 50px 0;
  width: 100%;
  border: 4px solid #ffb775;
  background-color: #6b8fa3;
  color: #ffb775;
  font-family: "Press Start 2P", monospace;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffb775;
  color: #6b8fa3;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.box-radius {
  border-radius: 5px;
}

.box-shadow {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.router-link {
  text-decoration: none;
  color: #ffb775;
}
