@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #6b8fa3;
  color: #ffb775;
  font-family: "Press Start 2P", monospace;
  border-radius: 5px;
}

h1,
h2 {
  text-shadow: 8px 8px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  width: 100%;
  max-width: 800px;
  margin: 10px auto;
  text-wrap: pretty;
}

@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6b8fa3;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section {
    width: 100%;
    margin: 10px auto;
  }
}

.btn {
  padding: 10px 20px;
  margin: 50px 0;
  width: 100%;
  border: 4px solid #ffb775;
  background-color: #6b8fa3;
  color: #ffb775;
  font-family: "Press Start 2P", monospace;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffb775;
  color: #6b8fa3;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.box-radius {
  border-radius: 5px;
}

.box-shadow {
  box-shadow: 8px 8px rgba(0, 0, 0, 0.2);
}

.router-link {
  text-decoration: none;
  color: #ffb775;
}
